.block1 {
    background-color: aqua;
    float: left;
    height: 200px;
    width: 200px;
    margin: 10px;
    text-align: center;
    }
    
    body {
        background-color: aquamarine;
    
    }
    
    .block2 {
    
    margin-left: 20px;
    height: 200px;
    width: 150px;
    text-align: center;
    background-color: green;
    float: left;
    
    }
    
    .block3 {
    
    margin-left: 20px;
    height: 180px;
    width: 150px;
    text-align: center;
    background-color: orangered;
    float: left;
    }